.sidebar {
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
    background: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    max-width: 306px;

    &__wrapper {
        padding-top: 36px;
    }

    &__logo {
        max-width: 217px;
        padding-left: 28px;

        img {
            width: 100%;
        }
    }

    &__items {
        padding-top: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__item {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 230px;
        justify-content: space-between;
        padding: 11px 8px 11px 11px;
        transition: all 0.6s;

    }

    .sidebar__item+.sidebar__item {
        margin-top: 29px;

        &.active,
        &:hover {
            cursor: pointer;
            border-radius: 8px;
            background: rgb(89, 50, 234);
            transition: all 0.6s;

            .sidebar__arrow {
                stroke: #fff;
            }

            .sidebar__text {
                color: #fff;
            }

            .sidebar__icon {
                stroke: #fff;
            }

            .sidebar__icon-income {
                fill: #fff;
            }
        }
    }


    &__item-inner {
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 24px;
        height: 24px;
    }

    &__text {
        margin-left: 14px;
        color: rgb(145, 151, 179);
        @extend %pop-500;
    }

    &__arrow {
        height: 16px;
        width: 16px;
    }

    &__user {
        position: absolute;
        bottom: 76px;
        left: 26px;
        display: flex;
    }

    &__user-link {
        height: 24px;
        width: 42px;
        display: block;

        img {
            width: 100%;
        }
    }

    &__box {
        margin-left: 12px;
    }

    &__icon-income {
        stroke:#9197B3
    }

    &__box-name {
        margin-bottom: 4px;
        color: rgb(0, 0, 0);
        @extend %pop-500;
        font-size: 14px;
        margin-top: 4px;
    }
    &__box-text{
        font-size: 12px;
    }

}