// Container & Breakpoints
@use 'sass:math';
$containerWidth: 968;
$containerPadding: 0;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$mainColor: #131418;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: #131418;
$burgerActiveColor: #fefefe;

// Fonts
$fontMain: sans-serif;
$fontSecondary: '';




%pop-400 {
  font-family: "Poppins-Regular";
  font-weight: 400;
}

%pop-500 {
  font-family: "Poppins-Medium";
  font-weight: 500;
}
%pop-600 {
  font-family: "Poppins-SemiBold";
  font-weight: 600;
}